/* GENERAL */

.grey{
    color: gray;
}

.blue{
    color:#20a9e5;
}

.evidenziatore{
    background-color: yellow;
}

/* HEADER */
header{
    background-color: #4ea0ff;
}

.banner{
    height: 150px;
    background-image: url(../img/pattern.png);
    position: relative;
}

#logo{
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 15px;
}

/* MAIN */

.title{
    font-size: 3rem;
}

.subtitle{
    font-size: 1.3rem;
}

.date{
    font-size: 1rem;
}

.photo-des{
    font-size: 0.8rem;
}

/* table */
.color-th{
    color: white;
    background-color: #20a9e5
}

.color-td{
    background-color: #b1e5f2
}

#td-special{
    background-color: #ffffff;
}